body{
    font-family: 'Franklin Gothic Light';
}

.home-page{
    background-color: rgb(218, 238, 245);
}
.gallery-page{
    background-color: rgb(192, 226, 248)
}
.navbar{
    background-color: rgb(192, 226, 248);
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
}

.gallery-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar a{
    font-size: large;
    text-decoration: none;
}

.home-content-div{
    text-align: center;
}
.gallery-content button{
    border-radius: 30%;
    padding: 1%;
    margin: 1%;
    border-color: rgb(218, 238, 245);
    font-weight: bold;
    font-size: x-large;
    height: 1%;
}